.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo-inline {
  height: 40vmin;
}

.App-logo-inline:hover {
  height: 41vmin;
}

.App-logo-inline g {
  fill: #ff0000;
}

.App-logo-inline g > circle {
  fill: #00ff00;
}

.App-logo-inline g > circle:hover {
  fill: #0000ff;
}

.App-logo-inline path {
  stroke: palegoldenrod;
  stroke-width: 10px;
  /* fill: none; */
  stroke-dasharray: 30px 15px;
  animation: orbit 1s infinite linear;
}

@keyframes orbit {
  to {
    stroke-dashoffset: 50px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
