.portfolio-container /*.row*/ {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
}

.portfolio-wrapper {
  /* width: 150px;
  height: 150px; */
  width: 100px;
  height: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;

  /* opacity: 0; */
}

.portfolio-box {
  position: relative;
  display: block;
}

.portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  /* background: rgba(244, 98, 58, 0.9); */
  transition: opacity 0.25s ease;
  text-align: center;
}

.portfolio-box .portfolio-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .project-name {
  font-size: 1rem;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:hover .img-fluid {
  opacity: 0;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}
