.portfolio-container /*.row - bootstrap*/ {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
}

.portfolio-wrapper {
  /* width: 150px;
  height: 150px; */
  width: 100px;
  height: auto;
}

.portfolio-box {
  position: relative;
  display: block;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  /* Just for debugging */
  /* opacity: 0; */
}

.portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  /* background: rgba(244, 98, 58, 0.9); */
  transition: opacity 0.25s ease;
  text-align: center;
}

.portfolio-box .portfolio-box-caption .project-name {
  font-size: 1rem;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:hover .img-fluid {
  opacity: 0;
}
